.form-content {
	max-height: 50vh;
	display: flex;
	flex-direction: column;
	height: 55%;
	border: 1px solid hsl(0, 0%, 84%);
	box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.1);
	border: 1px solid hsl(0, 0%, 84%);
}

.form-title {
	margin: 0 auto;
	text-align: initial;
	margin: .5em 0 0.5em 1em;
  font-size: 1.5em;
  font-weight: bold;
}

/**
 * Formulario
 */
 
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.content-inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70%;
	padding: 0em 0 1em 1.5em;
	align-items: flex-start;
}

.content-inputs > * {
	width: 90%;
	margin-top: .5em;
	margin-bottom: 1em;
	text-align: left;
}

.content-buttons {
  width: 100%;
  height: 25%;
  padding: 1em 0 .5em 1.5em;
  text-align: left;
  background-color: hsl(0, 0%, 96%);
  border-top: 1px solid hsl(0, 0%, 84%);
}

input[type="text"] {
	margin-top: -1em;
	padding: .2em;
}

input[type="submit"] {
	margin-right: .5em;
}
