.form-content {
	height: 35vh;
	display: flex;
	flex-direction: column;
	border: 1px solid hsl(0, 0%, 84%);
}

.form-title {
	margin: 0 auto;
	text-align: initial;
	margin: .5em 0 0.5em .7em;
  font-size: 1.5em;
  font-weight: bold;
}

/**
 * Formulario
 */
 
.form {
  max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 85%;
}

label{
  text-align: left;
  padding-left: 1em;
  margin-bottom: -1em;
}

input[type="text"] {
  width: 90%;
	margin: -.5em auto 0 auto  ;
	padding: .2em;
}

.content-buttons {
  width: 100.5%;
  height: 20%;
  margin-left: -.5px;
  padding: 1.5em;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: hsl(0, 0%, 96%);
  border-top: 1px solid hsl(0, 0%, 84%);
  border-right: 1px solid hsl(0, 0%, 84%);
  border-bottom: 1px solid hsl(0, 0%, 84%);
  border-left: 0.1px solid hsl(0, 0%, 84%);
}


  .btn-service{
    min-height: 2.3rem;
	margin-right: .5em;
  /* padding: .5em; */
}

@media screen and (max-width: 600px) {
  .form-content {
    min-width: 100%;
    margin: 1em auto 0 5%;
    height: 100%;
  }
  .content-inputs {
    height: 100%;
  }
  .content-buttons {
    height: 100%;
  }
}
