.card-content{
  max-width: 250px;
  height: 12rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    border: 1px solid #d7d7d7;
}
.card-footer {
  text-align: start;
  padding: 1em 0 1em 1.5em;
}
.card-footer a{
  text-decoration: none;
}