.App {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

/**
 * A very simple grid system
 */
 
.App-main{
  margin-top: 1em;
  max-width: 90vw;
  display: grid;
  grid-template-columns: 70% 1fr;
}


.list-cards{
  grid-column: 1/2;
  margin-right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
}

